<!DOCTYPE html>
<html>
<head>
    <title>Persistent Audio Player Spike</title>
	<link href="/Static/css/base/site.css" rel="stylesheet" type="text/css" />
	<link href="/Static/css/baseline/baseline.base.css" rel="stylesheet" type="text/css" />
	<link href="/Static/css/baseline/baseline.type.css" rel="stylesheet" type="text/css" />
	<link href="/Static/css/baseline/baseline.form.css" rel="stylesheet" type="text/css" />
	<link href="/Static/css/baseline/baseline.grid.css" rel="stylesheet" type="text/css" />
	<link href="/Static/css/baseline/baseline.reset.css" rel="stylesheet" type="text/css" />
	<link href="/Static/css/shared/forms.css" rel="stylesheet" type="text/css" />
	<link href="/Static/css/shared/branding.css" rel="stylesheet" type="text/css" />
	<link href="/Static/css/shared/typography.css" rel="stylesheet" type="text/css" />
	<link href="/Static/css/browser/mobile.css" rel="stylesheet" type="text/css" />
	<link href="/Static/css/shared/layout.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="first column width400">
<h1>Persistent Audio Player Spike</h1>

<p>The aim of this innovation time is to provide proof of concept of a persistent audio player, allowing a user to continue listening to audio uninterrupted whilst browsing through different pages.</p>

    @RenderBody()
	</div>
</body>
</html>
