<!DOCTYPE html>
<html>
<head>
	<title>Persistent Audio Player</title>
	<link href="http://cdn22.7static.com/b/s/corecss/1331775515" rel="stylesheet">
	<link href="/Static/css/screen.css" rel="stylesheet" type="text/css" />
	<link href="/Static/css/playerskin/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
	<script src="/Static/javascript/jQuery.js" type="text/javascript"></script>
	<script src="/Static/javascript/domReady.js" type="text/javascript"></script>
	<script src="/Static/javascript/jquery.jplayer.min.js" type="text/javascript"></script>
	<script src="http://balupton.github.com/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
	<script src="/Static/javascript/custom.js" type="text/javascript"></script>
</head>
<body>
	<div id="c">
		<div id="header" class="chrome">
			<ul class="floated-list" id="site-nav" role="navigation">
				<li id="logo"><a href="/" class="page-content-link" title="Return to the homepage">
					7digital.com - Home of MP3 </a></li>
			</ul>
		</div>
		<div id="page" class="error-screen error-404" role="main">
			<div id="page-head" class="first column width4">
				<nav role="navigation">
		<ul class="breadcrumbs first column floated-list">
			<li class="logo-link">
				<a class="page-content-link" href="/">Return to the homepage</a>
			</li>
		</ul>

	</nav>
			</div>
			<hr class="first column width4" id="content-start">
			<div class="first column wide-col">
				<h1>
					Persistent Audio Player</h1>
				<p>
					A persistent audio player, allowing a user to continue listening to audio uninterrupted
					whilst browsing through different pages, whilst maintaining full browser back and
					forward history compatibility</p>
				<div id="page-content">@RenderBody()</div>
			</div>
			<div id="side-menu" class="column thin-col">
				<div class="sidebar-heading">
					<h3 class="sidebar-heading">
						<span class="icon tagmark">Artists </span>
					</h3>
					<ul>
						<li><a id="link1" class="page-content-link"
							title="The Doors" href="/artist/The%20Doors">The Doors</a> </li>
						<li><a title="decemberists" class="page-content-link"
							href="/artist/Decemberists">Decemberists</a> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="jquery_jplayer_1" class="jp-jplayer">
	</div>
	<div id="jp_container_1" class="jp-audio chrome">
		<div class="jp-type-single">
			<div class="jp-gui jp-interface">
				<ul class="jp-controls">
					<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
					<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
					<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
					<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
					<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
					<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max
						volume</a></li>
				</ul>
				<div class="jp-progress">
					<div class="jp-seek-bar">
						<div class="jp-play-bar">
						</div>
					</div>
				</div>
				<div class="jp-volume-bar">
					<div class="jp-volume-bar-value">
					</div>
				</div>
				<div class="jp-time-holder">
					<div class="jp-current-time">
					</div>
					<div class="jp-duration">
					</div>
					<ul class="jp-toggles">
						<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
						<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat
							off</a></li>
					</ul>
				</div>
			</div>
			<div class="jp-title">
				<ul>
					<li>Bubble</li>
				</ul>
			</div>
			<div class="jp-no-solution">
				<span>Update Required</span> To play the media you will need to either update your
				browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/"
					target="_blank">Flash plugin</a>.
			</div>
		</div>
	</div>
</body>
</html>
